
.dclabel { font-family:Verdana, Geneva, sans-serif; font-weight:bold; letter-spacing:1.5px; 
	color: #333; text-shadow: 1px 1px 2px grey, 0 0 1em white, 0 0 0.2em white;}
	
.gratext { font-family:Verdana, Geneva, sans-serif; font-weight:bold; letter-spacing:2px;}

.titletext { font-family:Georgia, "Times New Roman", Times, serif; font-size:1.2em;  letter-spacing:2px; color:#900;}