<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css' %}">
  <link href="{%static 'metisMenu/metisMenu.min.css' %}" rel="stylesheet">
  <link href="{%static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{%static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3>Login</h3>
      </div>
    </div>
    <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>