<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Medical Info</title>
</head>
<body>
    <form>
      <div class="form-group">
        <label for="id_no">ID Number:</label>
        <input type="text" class="form-control" id="id_no">
      </div>
      <div class="form-group">
        <label for="doctor_name">Doctor Name:</label>
        <input type="text" class="form-control" id="doctor_name">
      </div>
      <div class="form-group">
        <label for="doctor_cell">Doctor Cell:</label>
        <input type="number" class="form-control" id="doctor_cell">
      </div>
      <div class="form-group">
        <label for="medical_aid_no">Medical Aid number:</label>
        <input type="number" class="form-control" id="medical_aid_no">
      </div>
      <div class="form-group">
        <label for="medical_aid_scheme">Medical Aid scheme:</label>
        <input type="number" class="form-control" id="medical_aid_scheme">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
</body>
</html>